<%- include("partials/header.ejs") %>
<div id="roomIdDisplay">Room Id: <%= locals.roomId %></div>
<ul id="messages"></ul>
<form id="form" action="">
  <input id="input" autocomplete="off" /><button>Send</button>
</form>
<%- include("partials/footer.ejs") %>
